* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;              
  background: transparent;
  z-index: 9999;
  box-shadow:none;
  transition: all 0.3s ease;
}

.nav-container {
  max-width: 1200px;
  height: 100%;              
  margin: auto;
  padding: 0 20px;           
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


/* navbar solid saat scroll */
.navbar.scrolled {
  background: #ecebeb;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.navbar.scrolled a {
  color:#111827;
}

.nav-logo {
  font-size: 20px;
  font-weight: 700;
  color: #1f3d2b;
}

.nav-logo span {
  color: #3c8d5f;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
  z-index: 10000;
}

.nav-links a {
  text-decoration: none;
  color:#ffffff;
  font-size: 15px;
  transition: color 0.3s ease;
  font-weight: 500;
}

.nav-links a:hover {
  color: #3c8d5f;
}

/* CONTACT BUTTON */
.nav-btn {
  padding: 8px 18px;
  border: 1px solid #3c8d5f;
  border-radius: 20px;
  color: #3c8d5f;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background: #3c8d5f;
  color: #fff;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: relative;
  z-index: 10001;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background: #1f3d2b;
  transition: all 0.3s ease;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    opacity: 0;
    position: absolute;
    top: 70px;
    right: 0;
    background: #ffffff;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    gap: 20px;
    transform: translateY(-10%);
    transition: transform 0.3s ease;
  }

  .nav-links.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    }
}
