body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
    height: 6000px;
}

html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 75px;
}